/WS1/nbproject/private/
/WS1/build/
/Test/nbproject/private/
/Test/build/
/Session02-Language/VarNFun/nbproject/private/
/Session02-Language/VarNFun/build/
/WS1/src/ws1/ws1/nbproject/private/
/WS1/src/ws1/ws1/build/
/New Folder/Ws1/nbproject/private/
/New Folder/Ws1/build/
/New Folder/Ws1/dist/
/Session02-Language/Dogmanament/nbproject/private/
/Session02-Language/Dogmanament/dist/
/Session02-Language/Dogmanament/build/
/Session03-Class/DogmanamentV2/nbproject/private/
/Session03-Class/DogmanamentV2/build/